<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ catalogo?.estabelecimento }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-navbar>
    <ion-title text-center>Catalogo</ion-title>
  </ion-navbar>

  <ion-row *ngFor="let categoria of categorias; let i = index">
    <ion-item *ngIf="produtos | async">
      <div (click)="toggleDetalhes(categoria)">
        <h1>{{categoria.type}}</h1>
      </div>
      <ion-list [hidden]="!categoria.showImagem">
        <ion-item *ngFor="let produto of categoria.data" (click)="openProduct(produto)">
          {{produto?.nome}}
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-row>
</ion-content>