
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>Bar do Zeca</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-navbar>
        <ion-title text-center>Conta</ion-title>
    </ion-navbar>

    <ion-item text-center *ngIf="!produtos" class="">
        Você ainda não tem pedidos.
    </ion-item>

    <ion-list *ngIf="produtos">
        <ion-row *ngFor="let produto of produtos">
            <ion-item>
                <ion-col col-8 class="pedido"> {{produto.nome}}
                </ion-col>
                <ion-col col-4>
                    <h3 class="preco">R$ {{produto.preco / 100}}</h3>
                </ion-col>
            </ion-item>
        </ion-row>
    </ion-list>

    <ion-footer *ngIf="produtos">
        <ion-item>
            <ion-row>
                <ion-col col-6></ion-col>
                <ion-col col-6>
                    <h1 class="total">Total: R$ {{total / 100}}</h1>
                </ion-col>
            </ion-row>
            <ion-row>
                <button ion-button color="danger" class="fechamento" (click)="pagarConta()">Fechar Conta</button>
            </ion-row>
        </ion-item>
    </ion-footer>

</ion-content>