page-conta {
    .preco{
        float: right;
        color: color($colors, secondary);
    }
    .total{
        float: right;
    }
    .fechamento {
      width: 100%;
      padding: 1.5em;
      font-size: 1.2em;
    }
    .pedido {
      font-size: 1.2em;
    }
}
