page-item-modal {

    ion-icon {
      font-size: 2em;
    }
    ion-header {
      background-color: color($colors, primary)
    }

    .menos {
      color: color($colors, danger)
    }
    .mais {
      color: color($colors, primary)
    }

    .payment {
      width: 50%;
      padding: 1.5em;
      font-size: 1.2em;
    }

    .icon .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0;
    }

    .input-counter {
      font-size: 1.2em;
    }

    .valor {
      text-align: right;
      color: color($colors, secondary);
      font-size: 1.5em;
    }
}
