page-item-modal {

    .imagem-produto {
      width: auto;
      height: 200px;
      margin: 0 auto;
    }

    .icon-container {
      text-align: center;
    }

    .bar-header {
      background-color: color($colors, primary);
      color: #FFF;
    }

    ion-icon {
      font-size: 1.6em;
    }
    ion-header {
      background-color: color($colors, primary)
    }

    .menos {
      color: color($colors, danger);
      margin-top: 8px;
    }
    .mais {
      color: color($colors, primary);
      margin-top: 8px;
    }

    .payment {
      width: 100%;
      padding: 1.5em;
      font-size: 1.2em;
    }

    .icon .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0;
    }

    .input-counter {
      font-size: 1.2em;
    }

    .valor {
      text-align: right;
      color: color($colors, secondary);
      font-size: 1.5em;
      margin-top: 5px;
    }
}
